<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html, body {
        font-family: monospace;
      }
      .screen {
        display: flex;
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
      }

      #overlay {
        position:fixed;
        z-index:99999;
        top:0;
        left:0;
        bottom:0;
        right:0;
        background:rgba(0,0,0,0.9);
        transition: 1s 0.4s;
      }
      #progress {
        height:1px;
        background:#fff;
        position:absolute;
        width:0; /* will be increased by JS */
        top:50%;
      }
      #progstat {
        font-size:0.7em;
        letter-spacing: 3px;
        position:absolute;
        top:50%;
        margin-top:-40px;
        width:100%;
        text-align:center;
        color:#fff;
      }
    </style>
  </head>
  <body bgcolor="#000">
    <div id="overlay">
      <div id="progstat">Loading, please wait...</div>
      <div id="progress"></div>
    </div>
    <div class='screen' id='contents'></div>
  </body>
</html>
